First notebook file for the project

In [44]:
import pandas as pd
import numpy as np
data_est=pd.read_csv("Estonia.csv")
int_data=pd.read_csv()
data_est.interpolate().to_csv("Est_Interpolated.csv")
print(data_est.head(20))

    Unnamed: 0          dt  AverageTemperature  AverageTemperatureUncertainty  \
0       161160  1743-11-01               0.727                          2.113
1       161161  1743-12-01                 NaN                            NaN
2       161162  1744-01-01                 NaN                            NaN
3       161163  1744-02-01                 NaN                            NaN
4       161164  1744-03-01                 NaN                            NaN
5       161165  1744-04-01               4.494                          3.786
6       161166  1744-05-01               9.038                          1.837
7       161167  1744-06-01              14.148                          1.661
8       161168  1744-07-01              16.971                          1.472
9       161169  1744-08-01                 NaN                            NaN
10      161170  1744-09-01              11.560                          1.527
11      161171  1744-10-01               3.626                          1.821
12      161172  1744-11-01               0.743                          1.527
13      161173  1744-12-01              -5.078                          1.838
14      161174  1745-01-01              -8.124                          1.868
15      161175  1745-02-01              -8.570                          1.632
16      161176  1745-03-01              -5.072                          1.437
17      161177  1745-04-01               1.397                          1.434
18      161178  1745-05-01                 NaN                            NaN
19      161179  1745-06-01                 NaN                            NaN

    Country
0   Estonia
1   Estonia
2   Estonia
3   Estonia
4   Estonia
5   Estonia
6   Estonia
7   Estonia
8   Estonia
9   Estonia
10  Estonia
11  Estonia
12  Estonia
13  Estonia
14  Estonia
15  Estonia
16  Estonia
17  Estonia
18  Estonia
19  Estonia